.brend-section {
    padding-bottom: 28px;
    background: #101010;
    overflow: hidden;
    margin: 0 auto;
}

.brend-title {
    text-align: center;
    margin-bottom: 16px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
}

/* Карусель */
.infinite-carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-track {
    display: flex;
    gap: 30px;
    width: max-content;
    animation: scroll 40s linear infinite;
}

.carousel-track img {
    width: 150px;
    height: 80px;
    object-fit: contain;
    flex-shrink: 0;
    padding: 10px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.carousel-track img:hover {
    transform: scale(1.1);
}

.text-brend {
    color: white;
    margin-top: 8px;
    text-align: center;
    line-height: 16px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 18px;
}

/* Анимация */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-50% - 15px));
    }
}

/* Адаптация */
@media (max-width: 992px) {
    .carousel-track img {
        width: 120px;
        height: 60px;
    }
}

@media (max-width: 768px) {
    .carousel-track {
        gap: 20px;
        animation-duration: 30s;
    }

    .carousel-track img {
        width: 100px;
        height: 50px;
    }
}