    .hero-EVA {
        background-image: url(../img/kaskad-evakuator-hero480.webp);
        background-image: url(../img/kaskad-evakuator-hero480.jpg);
    }

    @media (min-width: 768px) {
        .hero-EVA {
            background-image: url(../img/kaskad-evakuator-hero720.webp);
            background-image: url(../img/kaskad-evakuator-hero720.jpg);
        }
    }

    @media (min-width: 1200px) {
        .hero-EVA {
            background-image: url(../img/kaskad-evakuator-hero1200.webp);
            background-image: url(../img/kaskad-evakuator-hero1200.jpg);
        }
    }

.evacuator-section,
.evacuator-price-section {
    background-color: #f3f3f3;
    padding: 40px;
    overflow: hidden;
}

.evacuator-section p,
.evacuator-section li,
.evacuator-price-section p,
.evacuator-price-section li {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 16px;
    text-indent: 20px;
    margin: 8px 0px;
}

.evacuator-section h3,
.evacuator-price-section h3,
.evacuator-section h2,
.evacuator-price-section h2 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    margin: 20px 0px;
}

.evacuator-section img {
    max-width: 45%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

/* Первая картинка - обтекание слева */
.evacuator-section img:first-of-type {
    float: left;
    margin: 0 25px 20px 0;
}

/* Вторая картинка - обтекание справа */
.evacuator-section img:nth-of-type(2) {
    float: right;
    margin: 20px 0 20px 25px;
}

/* Адаптация для планшетов и мобильных устройств */
@media (max-width: 768px) {

    .evacuator-section,
    .evacuator-price-section {
        padding: 20px;
    }

    .evacuator-section img {
        max-width: 100%;
        float: none;
        display: block;
        margin: 20px auto;
    }

    .evacuator-section img:first-of-type,
    .evacuator-section img:nth-of-type(2) {
        float: none;
        margin: 20px auto;
    }
}

/* Дополнительная адаптация для очень маленьких экранов */
@media (max-width: 480px) {

    .evacuator-section,
    .evacuator-price-section {
        padding: 15px;
    }

    .evacuator-section p,
    .evacuator-section li,
    .evacuator-price-section p,
    .evacuator-price-section li {
        font-size: 14px;
        text-indent: 15px;
    }

    .evacuator-section h3,
    .evacuator-price-section h3,
    .evacuator-section h2,
    .evacuator-price-section h2 {
        font-size: 18px;
        margin: 15px 0px;
    }
}

.benefits-list li {
    display: flex;
    align-items: center;
    gap: 4px;
}

.benefits-list li svg {
    flex-shrink: 0;
}

.benefits-list li p {
    margin: 0;
}