.header {
    display: flex;
    justify-content: center;
}

.nav-list-header {
    display: flex;
    flex-direction: row;
    margin-top: 64px;
    color: white;
}

.nav-item {
    padding: 16px 28px;
    font-size: 16px;
    position: relative;
}

.nav-item a {
    color: white;
    text-decoration: none;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #444;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 0;
    margin: 0;
    list-style: none;
}

.dropdown-content li {
    padding: 12px 28px;
    border-bottom: 1px solid #555;
}

.dropdown-content li:hover {
    background-color: #555;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Небольшая анимация для плавного появления */
.dropdown-content {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.7s ease, visibility 0.7s ease;
}

.dropdown:hover .dropdown-content {
    opacity: 1;
    visibility: visible;
}