header{
   margin-bottom: 8px;
background: linear-gradient(to right, #cceeff, #66a3ff);
padding: 4px 8px;
border: 1px solid #4c4e61;
    border-radius: 8px;
}

.chek-item {
    padding: 4px 14px;
    border: 1px solid #4c4e61;
    border-radius: 4px;
}

.header-container {
    display: flex;
}

.chek-list {
    display: flex;
    gap: 5px;
}

.chek-container{
    /* width: 1260px; */
    margin-left: auto;
    margin-right: auto;
}

.logo{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: 20px;
    color: darkred;
}

.header-container{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
}

.telegram{
    border: none;
    border-radius: 4px;
    background-color: #f4f5f6;
}

.contacts{
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.contact-container{
    display: flex;
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

.chek-item:hover {
    transform: scale(1.05);
    /* Увеличение на 5% */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    /* Усиленная тень */
    z-index: 1;
    /* Поднимаем над соседями */
}

.logo:hover {
    transform: scale(1.05);
    /* Увеличение на 5% */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    /* Усиленная тень */
    z-index: 1;
    /* Поднимаем над соседями */
}