.hero {
    color: white;
    background-image: url(../img/pexels-photo-170813.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-content-container {
    padding: 14px 14px;
    width: 320px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    border-radius: 12px;
    margin-top: 8px;
}

.hero-content-container div {
    display: flex;
}

.hero-title {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 56px;
    color: #f8f8f8;
    max-width: 600px;
    text-align: left;
}

.hero-content {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.hero-content>.btn-container>.details-btn {
    position: absolute;
    bottom: -15px;
    left: 0;
    right: 0;
    margin: 0 auto;
    /* центрирование без transform */
    padding: 12px 35px;
    border-radius: 25px;
    background: #24a7c1;
    color: #f8f8f8;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    z-index: 2;
    width: max-content;
    /* ширина по содержимому */
}

.hero-content>.btn-container {
    position: relative;
    width: 100%;
    margin-top: 50px;

}

.hero-content>.btn-container>.details-btn {
    position: absolute;
    left: 0;
    /* Фиксируем у левого края */
    bottom: -15px;
    transform: none;
    /* Убираем трансформацию */
    margin: 0;
    /* остальные стили */
}

.discount {
    text-align: left;
    margin-top: 20px;
    color: rgb(180, 180, 189);
    font-size: 16px;
}