.hero-price-section {
  position: relative;
  color: #fff;
  background-color: #101010;
  background-image: url(../img/price-auto-img.webp);
  background-size: cover;
  background-position: center;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-top: 1px solid #f8f8f8;
}

.hero-price-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero-price-section > * {
  position: relative;
  z-index: 2;
}

.hero-price-section .discount {
  color: #f8f8f8;
  font-size: 28px;
  max-width: 450px;
}
