.hero {
    position: relative;
    color: white;
    background-color: #101010;
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-top: 1px solid #f8f8f8;
}

    .hero {
        /* Для смартфонов */
        background-image: url(../img/small-hero-bg.webp);
        background-image: url(../img/small-hero-bg.jpg);
    }

@media (min-width: 768px) {
    .hero {
        /* Для планшетов */
        background-image: url(../img/medium-hero-bg.webp);
        background-image: url(../img/medium-hero-bg.jpg);
    }
}

@media (min-width: 1200px) {
    .hero {
        /* Для десктопов */
        background-image: url(../img/large-hero-bg.webp);
        background-image: url(../img/large-hero-bg.jpg);
    }
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Чёрный с прозрачностью 50% */
    z-index: 1;
}

/* Чтобы контент был поверх затемнения */
.hero>* {
    position: relative;
    z-index: 2;
}

.hero-contact-div{
    display: block;
    height: 380px;
}

.hero-content-container {
    padding: 14px 14px;
    width: 320px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    border-radius: 12px;
    margin-top: 8px;
}

.hero-content-container div {
    display: flex;
}

.hero>div, .hero-gbo>div,.hero-price-section>div, .hero-parts>div, .hero-service-catalog>div, .hero-contacts-section>div {
    display: flex;
    gap: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    padding-top: 100px;
}

.hero-contact-div{
    padding: 12px 12px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.hero-contact-div>h3{
    color: #f8f8f8;
    font-size: 20px;
    margin: 8px auto;
    font-weight: bold;
}

.hero-contact-div>iframe{
    padding: 20px 0px;
    filter: brightness(0.8);
}

.hero-contact-number{
    color: #f8f8f8;
    font-size: 20px;
    /* margin: 8px auto; */
}

.hero-contact-number{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.hero-title {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 56px;
    color: #f8f8f8;
    max-width: 600px;
    text-align: left;
}

.hero-content {
    max-width: 600px;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.details-hero-btn {
    background: #24a7c1;
    color: #f8f8f8;
    padding: 12px 35px;
    border-radius: 25px;
    margin-top: 16px;
    display: block;
    margin-right: auto;
    border: none;
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease;
    box-shadow: 0 0 10px rgba(36, 167, 193, 0.5);
    animation: combinedEffect 2.5s infinite ease-in-out;
}

.details-hero-btn:hover,
.details-hero-btn:focus {
    background: #0e6374;
    box-shadow: 0 0 20px rgba(14, 99, 116, 0.8);
}

@keyframes combinedEffect {

    0%,
    100% {
        transform: scale(1);
        box-shadow: 0 0 8px rgba(36, 167, 193, 0.5);
    }

    50% {
        transform: scale(1.02);
        box-shadow: 0 0 15px rgba(36, 167, 193, 0.8);
    }
}

.discount {
    text-align: left;
    margin-top: 16px;
    color: #f8f8f8;
    font-size: 20px;
}

@media (max-width: 480px){
    .hero-title{
        font-size: 36px;
        max-width: 320px;
    }

    .hero-content{
        padding: 8px 10px;
    }

    .discount{
        max-width: 360px;
        text-align: center;
    }

        .hero>div,
        .hero-gbo>div,
        .hero-price-section>div,
        .hero-parts>div,
        .hero-service-catalog>div,
        .hero-contacts-section>div{
        flex-direction: column;
    }

        .hero{
        height: 100vh;
    }

    .hero-contact-div>iframe{
        width: 200px;
        height: 120px;
        padding: 0px;
    }    

    .hero{
        height: 830px;
    }
}

/* МОДАЛЬНОЕ ОКНО */

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow-y: auto;
}

.modal-content {
    background-color: #101010;
    margin: 10% auto;
    padding: 30px;
    border-radius: 20px;
    width: 85%;
    max-width: 500px;
    position: relative;
    box-sizing: border-box;

}

.modal-content>h3{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    color: #f8f8f8;
    margin-bottom: 20px;
    text-align: center;
}

.modal-close {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    color: #f8f8f8;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 12px;
    font-weight: 500;
    color: #f8f8f8;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 16px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #f8f8f8;
    border-radius: 4px;
}

/* Затемнение фона */
body.modal-open {
    overflow: hidden;
}

body.modal-open::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999; 
}

.submit-btn {
    background: #24a7c1;
    color: #f8f8f8;
    padding: 12px 12px;
    border-radius: 25px;
    display: block;
    border: none;
    transition: all 0.4s ease;
    box-shadow: 0 0 10px rgba(36, 167, 193, 0.5);
    animation: combinedEffect 2.5s infinite ease-in-out;
    width: 200px;
    margin: 0 auto;
}

.submit-btn:hover,
.submit-btn:focus {
    background: #0e6374;
    box-shadow: 0 0 20px rgba(14, 99, 116, 0.8);
}

/* СОЦ СЕТИ */

.social-fixed {
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1000;
}

.social-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.social-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.telegram {
    background-color: #0088cc;
}

.viber {
    background-color: #7360f2;
}

.phone {
    background-color:rgb(48, 166, 58);
}

.social-icon {
    color: white;
    font-size: 24px;
}