.hero {
    background-image: url(../img/main-photo.jpeg);
    background-size: cover;
    background-position: center;
    min-height: 450px;
    /* или другая высота */
    display: flex;
    align-items: center;
    /* вертикальное выравнивание */
    justify-content: center;
    /* горизонтальное выравнивание */
    text-align: center;
    /* выравнивание текста внутри блока */
}

.main-content {
    color: white;
    /* если нужен светлый текст на темном фоне */
    padding: 20px;
    max-width: 800px;
    /* ограничение ширины текстового блока */
}

.hero-title{
  font-family: "Rubik Doodle Shadow", system-ui;
  font-weight: 800;
  font-style: normal;
  color: azure;
  font-size: 36px;
}