.main-section{
    padding: 8px 30px;
    background: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 300px;
    gap: 12px;
}

.main-image{
    border-radius: 10%;
}

.main-content{
color: orange;
}

.main-h2{
    margin-bottom: 8px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-size: 34px;
    font-weight: 200;
}

.main-title-content{
    margin-bottom: 4px;
    margin-top: 8px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: 500; */
    font-size: 18px;
}

.main-text-content{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-size: 16px;
}

@media (max-width: 480px) {
    .main-section {
        display: flex;
        flex-direction: column;
    }
}

/* Исправление для мобильной версии */
@media (max-width: 480px) {
    .main-section {
        position: relative;
        /* Создаем новый контекст стекинга */
        z-index: 1;
        /* Значение меньше, чем у callback-формы (1000) */
    }

    .callback-overlay {
        z-index: 1000;
        /* Убедимся, что форма поверх всего */
    }

    .callback-modal {
        z-index: 1001;
        /* Модальное окно должно быть выше оверлея */
    } }