 .partner-section{
    padding: 20px 30px;
    background: white;
    background-color: black;
}

.entry-partner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 300px;
    gap: 12px;
    color: orange;
}

.partner-title{
    margin-bottom: 20px;
    text-align: center;
    color: orange;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-size: 34px;
    font-weight: 200;
}

.kharkiv-map{
    border-radius: 10%;
}

.partners-description{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-size: 18px;
    margin-bottom: 42px;
}

.partner-content{
    padding: 12px 12px;
}

.cta-button {
    display: inline-block;
    margin-top: 15px;
    padding: 12px 30px;
    background-color: orange;
    color: white;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;

}

.cta-button:hover {
    background-color: orangered;
}

/* Адаптивность */
 @media (max-width: 768px) {
    .partners-grid {
        grid-template-columns: 1fr;
    }

    .section-title {
        font-size: 28px;
    }

    .entry-partner{
        display: flex;
        flex-direction: column;
    }
 }
/*
.section-title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
    color: #0f3460;
}

.partners-description {
    text-align: center;
    max-width: 800px;
    margin: 0 auto 40px;
    font-size: 18px;
    line-height: 1.6;
    color: #455A64;
}

.partners-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    margin-bottom: 40px;
}

.partner-card {
    background: white;
    border-radius: 8px;
    padding: 25px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease;
}

.partner-card:hover {
    transform: translateY(-5px);
}

.partner-logo {
    height: 80px;
    margin-bottom: 20px;
    object-fit: contain;
}

.partner-address {
    color: #666;
    margin: 10px 0;
}

.partner-phone {
    display: inline-block;
    margin-top: 15px;
    color: #0f3460;
    font-weight: bold;
    text-decoration: none;
}

.partners-cta {
    text-align: center;
    margin-top: 40px;
}



.kharkiv_map{
    max-height: 400px;
}


}  */