.parts-section{
    padding: 20px 30px;
    background: white;
}

.parts-title{
    margin-bottom: 20px;
    text-align: center;
}

.card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 колонки */
    gap: 10px;
    /* Расстояние между карточками */
    padding: 0;
    list-style: none;
    align-items: start;
}

.card-item {
    display: flex;
    flex-direction: column;
    /* Основное направление - колонка */
    border: 1px solid #eee;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease;
    /* max-height: 80px; */
}

.card-image {
    width: 50px;
    /* Фиксированная ширина изображения */
    height: 50px;
    /* Фиксированная высота изображения */
    object-fit: cover;
    /* Сохраняет пропорции, обрезая лишнее */
    flex-shrink: 0;
    /* Запрещает уменьшение */
}

.card-text {
    padding: 15px;
    flex-grow: 1;
    /* Занимает оставшееся пространство */
}

.card-item:hover {
    transform: scale(1.05);
    /* Увеличение на 5% */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    /* Усиленная тень */
    z-index: 1;
    /* Поднимаем над соседями */
}

/* Адаптивность для мобильных */
@media (max-width: 768px) {
    .card-list {
        grid-template-columns: repeat(2, 1fr);
        /* 2 колонки на планшетах */
    }
}

@media (max-width: 480px) {
    .card-list {
        grid-template-columns: 1fr;
        /* 1 колонка на телефонах */
    }
}

.card-details {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.card-details.active {
    max-height: 500px;
    /* Достаточно для контента */
}

.details-list {
    padding: 0 20px 15px 40px;
    margin: 0;
}

.details-list li {
    margin-bottom: 4px;
    color: #555;
}

.card-main {
    display: flex;
    /* Делаем flex-контейнер */
    align-items: center;
    /* Выравниваем по центру по вертикали */
    padding: 12px 15px;
}