.services-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0px;
    text-align: center;
}

.services-top {
    display: flex;
    justify-content: space-between;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
}

.services-top-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.services-title {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 56px;
    color: #f8f8f8;
}

.services-subtitle {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 18px;
    color: #f8f8f8;
    width: 240px;
}

.services-carousel {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    width: 100%;
}

.services-container {
    display: flex;
    transition: transform 0.5s ease;
    padding-bottom: 20px;
    will-change: transform;
}

.carousel-nav {
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.carousel-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin: 0 15px;
    color: #f8f8f8;
    outline: none;
    background-color: #24a7c1;
    width: 40px;
    height: 40px;
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.carousel-btn:hover {
    background-color: #0e6374;
}

.service-card {
    flex: 0 0 calc(20% - 20px);
    margin: 0 10px;
    text-align: left;
    position: relative;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 25px;
    padding-top: 16px;
    max-width: 350px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    overflow: visible;
}

.service-card h3 {
    color: #f8f8f8;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.service-card p {
    color: #f8f8f8;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.details-btn {
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    padding: 12px 35px;
    border-radius: 25px;
    background: #24a7c1;
    color: #f8f8f8;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    z-index: 2;
}

.details-btn:hover {
    background: #0e6374;
}

@media (max-width: 1024px) {
    .service-card {
        flex: 0 0 calc(33.33% - 20px);
        /* 3 карточки */
    }
}

@media (max-width: 768px) {
    .service-card {
        flex: 0 0 calc(50% - 20px);
        /* 2 карточки */
    }
}

@media (max-width: 480px) {
    .service-card {
        flex: 0 0 calc(100% - 20px);
        /* 1 карточка */
    }

    .services-top{
        flex-direction: column;
        gap: 24px;
        margin-left: 10px;
        align-items: center;
    }

    .services-title{
        font-size: 38px;
        margin-bottom: 12px;
    }

    .service-card{
        max-width: 80%;
    }

    .services-container{
        max-width: 90%;
        padding-left: 10px;
        padding-right: 10px;
    }
}