.hero-service-catalog {
    position: relative;
    color: white;
    background-image: url(../img/catalog-bg.jpg);
    background-color: #101010;
    background-size: cover;
    background-position: center;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-top: 1px solid #f8f8f8;
}

.hero-service-catalog::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Чёрный с прозрачностью 50% */
    z-index: 1;
}

/* Чтобы контент был поверх затемнения */
.hero-service-catalog>* {
    position: relative;
    z-index: 2;
}

.service-catalog-section{
    background-color: #f8f8f8;
    padding: 20px 20px;
}

.list-service-catalog{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    max-width: 1000px;
    margin: 40px auto;
}

.item-service-catalog{
    padding: 6px 8px;
    border-radius: 10px;
    background-color: #24a7c1;
    border: none;
    color: #f8f8f8;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 14px;
    cursor: pointer;
}

.item-service-catalog:hover{
    background-color: #0e6374;
}

.item-service-catalog>a{
    text-decoration: none;
    color: inherit;
}

.catalog-container{
    max-width: 1000px;
    margin: 20px auto;
}

.catalog-title{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    color: #101010;
    margin-bottom: 12px;
}

.catalog-description{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 16px;
    color: #101010;
    margin-bottom: 20px;
}

.catalog-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 колонки */
    gap: 20px; /* Відступи між карточками */
    list-style: none;
    padding: 0;
    margin: 0;
}

.catalog-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.catalog-img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 1px solid #eee;
}

.catalog-text{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 16px;
    color: #101010;
    margin: 12px auto;
    text-align: center;
}

@media (max-width: 480px) {
    .hero-service-catalog{
        height: 725px;
    }

    .price-content-container{
        flex-direction: column;
    }

    .catalog-list{
        grid-template-columns: repeat(1, 1fr); /* 3 колонки */
    }
}

.price-content-container {
    display: flex;
    gap: 30px;
  }
  
  .price-content-container .price-content {
    flex: 1; /* Равная ширина */
    min-width: 0; /* Фикс для длинного текста */
  }
  
  @media (max-width: 768px) {
    .price-content-container {
      flex-direction: column;
    }
  }