.work-process {
    background-color: #f8f8f8;
    margin: 0 auto;
    padding: 20px 20px;
}

.work-title {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 56px;
    color: #101010;
}

.work-subtitle {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 18px;
    color: #101010;
    width: 340px;
}

.work-card {
    border: 1px #101010 solid;
    padding: 8px 16px;
}

.work-card img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
    border-radius: 8px;
}

.work-card h3 {
    color: #101010;
    margin-top: 8px;
}

.work-card p {
    color: #101010;
    margin-bottom: 0px;
}

.work-container {
    margin-left: 80px;
}

@media (max-width: 480px) {
    .work-title {
        font-size: 36px;
        margin-bottom: 12px;
        text-align: center;
    }

    .work-container {
        margin-left: 0px;
    }

    .work-process {
        padding: 20px 0px;
    }
}